@media ( max-width: 1200px )
  .container
    max-width: 920px
  .hotel
    &-slider
      width: 550px
  .hotel
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 215px
    height: 215px
  .grid
    &-container
      grid-template-columns: 295px 295px 295px
  .item
    &__img
      &-one
        width: 300px
      &-all
        width: 295px
    &__description
      max-width: 275px
      right: 19px
    &-description
      &__person
        margin-bottom: 30px
  .footer
    &__inputs
      flex-direction: column
      align-items: flex-start
      margin-bottom: 0
    &__input
      width: 100%
      margin-bottom: 15px

@media ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .breadcrumb
    &__container
      padding-top: 162px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .grid
    &-container
      display: none
  .packages
    &-slider
      display: block
      &-wrapper
        display: flex
        flex-direction: column
      &__item
        max-width: 700px
        height: 500px
        border-radius: 8px
    .swiper
      &-pagination
        &-bullet
          &-active 
            background: $primary-color
  .item
    &__img
      &-one
        width: 100%
        img
          border-radius: 8px
    &-description
      background-color: $dark
      opacity: 0.85
      top: 15px
      right: 15px
      padding: 10px
      border-radius: 8px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 20px
      grid-row-gap: 40px
    &__logo
      grid-row: 1/2
      grid-column: span 2
      margin-top: 0
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
      margin-left: 0
    &__inputs
      flex-direction: row
    &__input
      width: 49%
    &__contact
      &-details
        margin-top: 21px
        grid-column: span 5
        grid-row: 3
      &-form
        margin-top: 20px
        grid-column: span 5
        grid-row: 4
    &-bottom
      margin-top: 56px
      &__wrapper
        position: inherit

@media ( max-width: 768px )
  body.lock 
    overflow: hidden
  .container, .newsletter-wrapper
    max-width: 576px
    width: 92%
  .navbar
    &-bottom, &__search, &__user
      display: none
    .menu
      &-button
        display: flex 
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: $light
        outline: none
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .breadcrumb
    &__container
      padding-top: 78px
  .stars
    width: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -75px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -75px
  .card
    width: 48%
    height: 255px
  .item
    &__img
      &-one
        width: 100%
  .packages
    &-cards
      &__item
        &:first-child
          .item
            &-description
              &__title
                margin-bottom: 20px
              &__text
                margin-bottom: 25px
              &__person
                margin-bottom: 24px
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      padding-bottom: 45px
    &-container
      padding-top: 20px
  .mobile
    &-menu
      position: fixed
      top: -100%
      left: 0
      z-index: 3
      width: 100%
      height: 100%
      overflow: auto
      display: flex
      flex-direction: column
      align-items: center
      background-color: $dark
      transition: all 0.3s ease 0s
      &__search
        position: absolute
        top: 126px
        z-index: 7
        overflow: hidden
        border-radius: 6px
        height: 40px
      &__user
        position: absolute
        top: 31px
        z-index: 7
        flex-direction: column
        .user
          &__name
            margin-left: 0
            margin-top: 10px
        span
          color: $light
      &__items
        position: absolute
        padding: 0
        top: 205px
        flex-direction: column
        .navbar
          &-menu
            &__item
              margin-bottom: 20px
              &:last-child
                margin-bottom: 0
.active
  &-menu
    top: 78px
  &-burger
    .line
      &-before
        transform: rotate(45deg)
        margin-top: 5px
      &-main
        transform: scale(0)
      &-after
        transform: rotate(-45deg)
        margin-bottom: 5px

@media ( max-width: 576px )
  .container, .newsletter-wrapper
    max-width: 500px
    width: 90%
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .item
    &__img
      &-one
        width: 100%
    &-description
      top: 185px
      &__book-now
        flex-direction: column
        align-items: flex-start
      &__person
        margin-bottom: 24px
      &__new-price
        margin-bottom: 10px
      &__button
        width: 100%
  .packages
    &__title
      font-size: 18px
      line-height: 23px
    &-cards
      &__item
        &:first-child
          .item
            &-description
              &__text
                display: none
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
        grid-row: 2
        grid-column: 1 
      &-links
        margin-top: 22px 
    &__categories
      grid-row: 5
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        margin-top: 0
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__inputs
      flex-direction: column
    &__input
      width: 100%
    &__send
      flex-direction: column-reverse
      align-items: flex-start
    &__info
      margin-bottom: 15px
    &-bottom
      margin-top: 30px
      &__wrapper
        flex-direction: column
        align-items: flex-start
      &__icons
        margin-top: 10px
  .mobile
    &-menu
      &__search
        .search
          &__input
            width: 225px
  
    
