@media ( max-width: 1200px )
  .container
    max-width: 920px
  .hotel
    &-slider
      width: 550px
  .hotel
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 215px
    height: 215px
  .grid
    &-container
      grid-template-columns: 295px 295px 295px
  .item
    &__img
      &-one
        width: 300px
      &-all
        width: 295px
    &__description
      max-width: 275px
      right: 19px
    &-description
      &__person
        margin-bottom: 30px
  .footer
    &__contact
      &-form
        padding-left: 10px
    &__inputs
      flex-direction: column
      align-items: flex-start
      margin-bottom: 0
      max-width: 450px
    &__input
      width: 100%
      &-group
        width: 100%
        margin-bottom: 15px
    &__message
      width: 450px
    &__send
      width: 450px

@media ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .breadcrumb
    &__container
      padding-top: 162px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .grid
    &-container
      grid-template-columns: 700px
      grid-template-rows: 530px 530px 530px 530px 500px
      grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5"
    &__item-3
      margin-bottom: 30px
    &__item-4
      margin-bottom: 30px
  .packages
    &-cards
      &__offer
        &-all
          padding: 8px 11px
          font-size: 12px
          line-height: 15px
  .item 
    &__img
      max-width: 700px
      &-one
        width: 366px
      &-all
        position: absolute
        top: 0
        left: 0
        width: 366px
        height: 500px
        img
          width: 100%
          height: 100%
          border-radius: 8px 0px 0px 8px
          object-fit: cover
    &__description
      &-all
        max-width: 275px
        height: 443px
        top: 46px
        left: auto
    &-description
      &__stars
        display: block
        margin-top: 0
        margin-bottom: 5px
      &__text
        display: block
        font-size: 14px
        line-height: 22px
        margin-bottom: 34px   
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 20px
      grid-row-gap: 40px
    &__logo
      grid-row: 1/2
      grid-column: span 2
      margin-top: 0
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
      margin-left: 0
    &__inputs
      flex-direction: row
      max-width: 539px
    &__input
      width: 255px
      height: 50px
      &-group
        width: 49%
    &__message
      width: 539px
    &__send
      width: 539px
    &__contact
      &-details
        margin-top: 21px
        grid-column: span 5
        grid-row: 3
      &-form
        margin-top: 20px
        grid-column: span 5
        grid-row: 4
        padding-left: 0
    &-bottom
      margin-top: 56px
      &__wrapper
        position: inherit
  .modal
    &__dialog
      padding: 20px 60px

@media ( max-width: 767px )
  body.lock 
    overflow: hidden
  .container, .newsletter-wrapper
    max-width: 700px
    width: 92%
  .navbar
    &-bottom, &__search, &__user
      display: none
    .menu
      &-button
        display: flex 
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: $light
        outline: none
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
          transition: all 0.5s ease 0s
  .breadcrumb
    &__container
      padding-top: 78px
  .stars
    width: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      min-height: 210px
    &-slider
      height: 350px
  .booking
    width: 340px
    margin-right: 20px
  .map
    width: 340px
  .newsletter
    &-wrapper
      align-items: center
      justify-content: space-between
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
  .card
    width: 48%
    height: 255px
  .grid
    &-container
      grid-template-columns: minmax(500px, 700px)
  .packages
    &-container
      padding-top: 20px
    &__title
      font-size: 30px
      line-height: 38px
      padding-bottom: 50px
  .item
    max-width: 700px
    &__img
      &-one
        width: 100%
        img
          border-radius: 8px
      &-all
        width: 100%
        img
          border-radius: 8px
    &__description
      top: 35px
      background-color: $dark
      opacity: 0.85
      padding: 10px
      height: 461px
      border-radius: 8px
      top: 15px
      right: 15px
  .footer
    &__inputs
      width: 539px
  .mobile
    &-menu
      position: fixed
      top: -100%
      left: 0
      z-index: 3
      width: 100%
      height: 100%
      overflow: auto
      display: flex
      flex-direction: column
      align-items: center
      background-color: $dark
      transition: all 0.3s ease 0s
      // &__container
      //   width: 100%
      //   height: 100%
      //   overflow: scroll
      &__search
        width: 240px
        margin-top: 27px
        overflow: hidden
        border-radius: 6px
        min-height: 40px
      &__user
        margin-top: 31px
        flex-direction: column
        .user
          &__name
            margin-left: 0
            margin-top: 10px
        span
          color: $light
      &__items
        padding: 0
        margin-top: 39px
        flex-direction: column
        .navbar
          &-menu
            &__item
              margin-bottom: 20px
              &:last-child
                padding-bottom: 110px
  .active
    &-menu
      top: 78px
    &-burger
      .line
        &-before
          transform: rotate(45deg)
          margin-top: 5px
        &-main
          transform: scale(0)
        &-after
          transform: rotate(-45deg)
          margin-bottom: 5px  
  .modal
    &__dialog
      padding: 20px 35px  
    &__send
      flex-direction: column-reverse
      align-items: flex-start
    &__info
      margin-bottom: 15px
    &__button
      align-self: center
      width: 100%
@media ( max-width: 659px)
  .newsletter
    &__subscribe
      width: 330px
@media ( max-width: 635px)
  .newsletter
    &__subscribe
      width: 310px
@media ( max-width: 610px)
  .newsletter
    &__subscribe
      width: 290px
@media ( max-width: 588px)
  .newsletter
    &__subscribe
      width: 280px
@media ( max-width: 576px )
  .container, .newsletter-wrapper
    max-width: 500px
    width: 90%
  .logo
    width: 99px
  .hotel
    &-right
      flex-direction: column
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
      &__button
        width: 12px
        height: 12px
        &--next
          right: 6px
        &--prev
          left: 6px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
    height: 172px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__subscribe
      width: 280px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &__title
      max-width: 245px
      margin: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -103px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -103px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .grid
    &-container
      grid-template-columns: minmax(285px, 500px)
      grid-template-rows: 520px 520px 520px 520px 500px
  .item
    &__description
      max-width: 220px
      height: 282px
    &-description
      top: 208px
      &__text
        display: none
      &__book-now
        flex-direction: column
        align-items: flex-start
      &__old-price
        margin-bottom: 0
      &__new-price
        margin-bottom: 5px
      &__button
        width: 100%
  .packages
    &-container
      padding-top: 0
    &__title
      font-size: 18px
      line-height: 23px
      padding-bottom: 30px
    &-cards
      &__item
        &:first-child
          .item
            &-description
              &__text
                display: none
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
        grid-row: 2
        grid-column: 1 
      &-links
        margin-top: 22px 
    &__categories
      grid-row: 5
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        margin-top: 0
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__inputs
      flex-direction: column
      width: 100%
    &__input
      width: 100%
      &-group
        width: 100%
    &__message
      width: 100%
    &__send
      flex-direction: column-reverse
      align-items: flex-start
      width: 100%
    &__info
      margin-bottom: 15px
    &-bottom
      margin-top: 30px
      &__wrapper
        flex-direction: column
        align-items: flex-start
      &__icons
        margin-top: 10px
  .mobile
    &-menu
      &__search
        .search
          &__input
            width: 240px
  .modal
    &__dialog
      max-width: 280px
      padding: 20px 25px  

@media ( max-height: 542px)
  .modal
    &__dialog
      overflow: scroll
      height: 400px
  .mobile
    &-menu
      overflow: scroll
      min-height: 100%

@media ( max-height: 480px)
  .modal
    &__dialog
      height: 350px

@media ( max-height: 430px)
  .modal
    &__dialog
      height: 300px

@media ( max-height: 390px)
  .modal
    &__dialog
      height: 260px

@media ( max-height: 350px)
  .modal
    &__dialog
      height: 240px


  
    
